<div class="card ml-2 mr-2">
    <div class="card-body"> 
        <form method="POST" action="{{ url_for('college_bp.update') }}">
            {{ form.hidden_tag() }}

            <div class="mb-3 ml-2 mr-2">
                <label for="{{ form.college.name }}" class="form-label">College:</label>
                <input type="text" id="collegeName" name="collegeName" class="form-control">
                <!-- Add a hidden input for the college code -->
                <input type="hidden" id="collegeCode" name="collegeCode">
            </div>

            <div class="d-flex justify-content-end">
                <button type="update" class="btn btn-primary mr-2"><i class="fa fa-paper-plane-o"></i> | Update</button>
            </div>
            
        </form>
    </div>
</div>