<div class="card ml-2 mr-2">
    <div class="card-body"> 
        <form method="POST" action="{{ url_for('student_bp.update') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
    
            <div class="mb-3 ml-2 mr-2">
                <label for="{{ form.firstname.id }}" class="form-label">First Name:</label>
                <input type="text" id="studentFirstname" name="studentFirstname" class="form-control" required>

                <!-- Add hidden input for student id -->
                <input type="hidden" id="studentId" name="studentId">
            </div>
    
            <div class="mb-3 ml-2 mr-2">
                <label for="{{ form.lastname.id }}" class="form-label">Last Name:</label>
                <input type="text" id="studentLastname" name="studentLastname" class="form-control" required>
            </div>
    
            <div class="mb-3 ml-2 mr-2">
                <label for="{{ form.gender.id }}" class="form-label">Gender:</label>
                <select class="form-select" id="studentGender" name="studentGender" required>
                    <option value="" selected disabled>--- Select Gender ---</option>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                    <option value="Other">Other</option>
                    <option value="Prefer not to say">Prefer not to say</option>
                </select>
            </div>
    
            <div class="mb-3 ml-2 mr-2">
                <label for="{{ form.course.id }}" class="form-label">Course:</label>
                <select class="form-select" id="studentCourse" name="studentCourse" required>
                    <option value="" selected disabled>--- Select Course ---</option>
                    {% for course in courses %}
                        <option value="{{ course.code }}">{{ course.name }}</option>
                    {% endfor %}
                </select>
            </div>
    
            <div class="mb-3 ml-2 mr-2">
                <label for="{{ form.year.id }}" class="form-label">Year:</label>
                <select class="form-select" id="studentYear" name="studentYear" required>
                    <option value="" selected disabled>--- Select Year ---</option>
                    <option value="1">1st Year</option>
                    <option value="2">2nd Year</option>
                    <option value="3">3rd Year</option>
                    <option value="4">4th Year</option>
                </select>
            </div>
            
            <div class="mb-3 ml-2 mr-2">
                <label for="{{ form.photo.id }}" class="form-label">Current Picture:</label>
                <img id="currentStudentPhoto" class="img-fluid" alt="Current Student Photo">
                <input type="hidden" id="currentStudentPhotoUrl" name="currentStudentPhotoUrl">
            </div>

            <div class="mb-3 ml-2 mr-2">
                <label for="{{ form.photo.id }}" class="form-label">Update Picture:</label>
                <input type="file" id="studentPhoto" name="studentPhoto" class="form-control" accept="image/*"></input>
            </div>

            <div class="d-flex justify-content-end">
                <button type="update" class="btn btn-primary mr-2"><i class="fa fa-paper-plane-o"></i> | Update</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
    $('#studentPhoto').change(function () {
        var maxFileSize = 1024 * 1024; // 1 MB
        var fileSize = this.files[0].size;

        if (fileSize > maxFileSize) {
            alert('File size must be no more than 1 MB.');
            // Optionally, clear the file input
            $(this).val('');
        }
    });
});
</script>