{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<br>
<h2 class="ml-2 mr-2 mb-3 d-flex justify-content-between align-items-center">Course Information
    <div class="mr-2 d-flex justify-content-end">
        <button type="button" class="btn btn-success" style="border: none;" data-bs-toggle="modal" data-bs-target="#courseModal">
            <i class="fa fa-plus"></i>  Add Course
        </button>
    </div>
</h2>

<div class="card ml-2 mr-2">
    <form class="mb-2 d-flex">
        <input id="searchInput" class="form-control me-2 mr-1" type="search" placeholder="Search" aria-label="Search">
        <button id="searchButton" class="btn btn-outline-dark search-btn"  data-table-id="tblcourse"><i class="fa fa-search"></i></button>
    </form>
    <div class="card-body table-responsive" style="height:40rem; overflow:auto;">
        <table id="tblcourse" class="table table-hover" style="text-align: center;">
            <thead class="table-secondary">
                <tr style="font-family: sans-serif;">
                    <th>Code</th>
                    <th>Name</th>
                    <th>College</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="course_tbody">
                {% for course in data %}
                    <tr>
                        <td>{{ course.code }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.college }}</td>
                        <td>
                            <button class="btn btn-warning edit-btn" data-bs-toggle="modal" data-bs-target="#courseEditModal"
                            data-course-code="{{ course.code }}" data-course-name="{{ course.name }}"
                            data-course-college="{{ course.college }}"><i class="fa fa-pencil"></i> | Edit</button>
                            <button class="btn btn-danger delete-btn" data-course-code="{{ course.code }}"><i class="fa fa-trash"></i> | Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    var deleteUrl = "{{ url_for('course_bp.delete') }}";
    var searchUrl = "{{ url_for('course_bp.search') }}";
    var csrfToken = "{{ csrf_token() }}";
</script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/course.js') }}"></script>

<!-- Course Modal here -->
{% include 'modal/add/course-m.html' %}
{% include 'modal/edit/course-me.html' %}

{% endblock %}