<section>
    {% extends "layout.html" %}
    {% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <br>
    <h2 class="ml-2 mr-2 mb-3 d-flex justify-content-between align-items-center">Student Information
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-eye"></i> View
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item active" href="#">Student Table</a></li>
                <li><a class="dropdown-item" href="/course">Course Table</a></li>
                <li><a class="dropdown-item" href="/college">College Table</a></li>
            </ul>
        </div>
    </h2>

    <div class="card ml-2 mr-2">
        <div class="card-body table-responsive">
            <form id="searchForm" class="mb-2 d-flex">
                <input id="searchInput" class="form-control me-2 mr-1" type="search" placeholder="Search" aria-label="Search">
                <button id="searchButton" class="btn btn-outline-dark search-btn" data-bs-toggle="modal" data-bs-target="#resultsModal"><i class="fa fa-search"></i></button>
            </form>
            <table id="tblstudent" class="table table-hover" style="text-align: center;">
                <thead class="table-secondary">
                    <tr style="font-family: sans-serif;">
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Course</th>
                        <th>Year</th>
                        <th>Gender</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in data %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.firstName }}</td>
                        <td>{{ student.lastName }}</td>
                        <td>{{ student.course }}</td>
                        <td>{{ student.year }}</td>
                        <td>{{ student.gender }}</td>
                        <td>
                            <button class="btn btn-warning edit-btn" data-bs-toggle="modal" data-bs-target="#studentEditModal"
                            data-student-id="{{ student.id }}" data-student-firstname="{{ student.firstName }}"
                            data-student-lastname="{{ student.lastName }}" data-student-course="{{ student.course }}"
                            data-student-year="{{ student.year }}" data-student-gender="{{ student.gender }}">
                            <i class="fa fa-pencil"></i> | Edit</button>
                            <button class="btn btn-danger delete-btn" data-student-id="{{ student.id }}"><i class="fa fa-trash"></i> | Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        </div>
    </div>

    <br>
    <div class="mr-2 d-flex justify-content-end">
        <button type="button" class="btn btn-success" style="border: none;" data-bs-toggle="modal" data-bs-target="#studentModal">
            <i class="fa fa-plus"></i>  Add Student
        </button>
    </div>
    
</section>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $('.edit-btn').click(function() {
    // Capture data attributes
    var studentId = $(this).data('student-id');
    var studentFirstname = $(this).data('student-firstname');
    var studentLastname = $(this).data('student-lastname');
    var studentCourse = $(this).data('student-course');
    var studentYear = $(this).data('student-year');
    var studentGender = $(this).data('student-gender');

    // If you want to update a form field
    $('#studentId').val(studentId);
    $('#studentFirstname').val(studentFirstname);
    $('#studentLastname').val(studentLastname);
    $('#studentCourse').val(studentCourse);
    $('#studentYear').val(studentYear);
    $('#studentGender').val(studentGender);

    // Open the modal if needed
    $('#studentEditModal').modal('show');
    });

    $('.delete-btn').click(function() {
    // Capture data attributes
    var studentId = $(this).data('student-id');

    // Confirm deletion with user if needed
    var confirmDelete = confirm(`Are you sure you want to delete ${studentId}?`);
    
    if (confirmDelete) {
        // Make an AJAX request to delete the item
        $.ajax({
            type: 'POST',
            url: '/delete',  
            data: { 'studentId': studentId },
            success: function(response) {
                // Handle success, e.g., remove the corresponding row from the table
                console.log(response);

                location.reload();
            },
            error: function(error) {
                // Handle error
                console.error(error);
            }
        });
    }
    });

    $(document).ready(function() {
    $(document).on('click', '.search-btn', function() {
        // Get the search query from the input field
        var searchQuery = $('#searchInput').val();

        // Make an AJAX request to the server
        $.ajax({
            type: 'POST',
            url: '/search',
            data: { 'search-query': searchQuery },
            success: function(response) {
                // Update the content inside the modal with the search results
                $('#resultsModal .modal-body').html(response);

                // Open the modal
                $('#resultsModal').modal('show');
            },
            error: function(error) {
                console.error(error);
            }
        });

        // Prevent the default form submission
        return false;
    });
});



</script>

<!-- Student Modal here -->
{% include 'modal/student-m.html' %}
{% include 'modal/student-me.html' %}

{% include 'modal/searchRe.html' %}

{% endblock %}
