<div class="card ml-2 mr-2">
    <div class="card-body"> 
        <form method="POST" action="{{ url_for('college_bp.add') }}">
            {{ form.hidden_tag() }}

            <div class="mb-3 ml-2 mr-2">
                <label for="{{ form.college.id }}" class="form-label">College:</label>
                {{ form.college(class="form-select w-auto") }}
            </div>
    
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mr-2"><i class="fa fa-paper-plane-o"></i> | Submit</button>
            </div>
            
        </form>
    </div>
</div>
