<!-- student-fs.html -->
{% if results %}
    {% for table, data in results.items() %}
        <table class="table">
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for value in row %}
                            {% if not loop.last %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <button class="btn btn-primary photo-btn" data-bs-toggle="modal" data-bs-target="#studentPhotoModal"
                                data-student-photo="{{ row[6] }}">
                                <i class="fa fa-eye"></i> | View
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-warning edit-btn" data-bs-toggle="modal" data-bs-target="#studentEditModal"
                            data-student-id="{{ row[0] }}" data-student-firstname="{{ row[1] }}"
                            data-student-lastname="{{ row[2] }}" data-student-course="{{ row[3] }}"
                            data-student-year="{{ row[4] }}" data-student-gender="{{ row[5] }}" data-student-photo="{{ row[6] }}">
                            <i class="fa fa-pencil"></i> | Edit</button>
                            <button class="btn btn-danger delete-btn" data-student-id="{{ row[0] }}"><i class="fa fa-trash"></i> | Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% else %}
    <p>No search results found.</p>
{% endif %}
